<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>

<a href="/">login page</a>
<br>
<br>
<h1>hello users</h1>
<p>Do you want more information? After logination</p>
{{#each users}}
    <div>login: {{this.login}} --->email: {{this.email}}</div>
    <hr>
{{/each}}
</body>
</html>