doctype html
html
    head
        style
            include style.css
    body
        div
            |Hello user
        div.bg
            block content
        div
            br
            br
            a(href=frontEndURL) if you have questions search on Google

